<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drivers |</title>
</head>
<body>
    <h1><%= driver.name %></h1>
    <p><b>Contact:</b> <%= driver.email %></p>
    <p><b>Drives for:</b> <%= driver.company %></p>
</body>
</html>