<% layout('layouts/boilerplate') %>
    <div class="container flex-grow-1">
        <% if(messages.length){ %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <%= messages %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% } %>
        
        <div
            class="d-flex justify-content-between align-items-center mb-4 border-bottom border-primary border-opacity-25">
            <h1>Drivers</h1>
            <a class="btn btn-primary" href="/drivers/new" role="button">Add New Driver <i class="bi bi-person-plus"></i></a>
        </div>
        <div class="row d-flex justify-content-center justify-content-sm-start">
            <% for(let i=0; i < drivers.length; i++) { %>
                <div class="col-12 col-sm-4 col-md-3 mb-3">
                    <div class="card h-100 bg-dark text-light border-light border-3 mx-5 mx-sm-0 p-2">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= drivers[i].name %>
                            </h5>
                            <p class="card-text">
                                <%= drivers[i].company %>
                            </p>
                        </div>
                        <div class="card-footer border-primary border-opacity-50">
                            <a href="/drivers/<%= drivers[i]._id %>" class="btn btn-primary btn-sm mt-auto">View Driver <i class="bi bi-arrow-right-short"></i></a>
                        </div>
                    </div>
                </div>
                <% } %>
        </div>
    </div>
    </div>