<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drivers</title>
</head>
<body>
    <h1>All Drivers</h1>
    <ul>
        <% for(let i = 0; i < drivers.length; i++) { %>
            <li><a href="/driver/<%= drivers[i].id %>" title="Click to view driver details"><%= drivers[i].name %></a> - <%= drivers[i].email %> - <%= drivers[i].id %></li>
        <% } %>
    </ul>
    <a href="/driver/new">Add New Driver</a>
</body>
</html>