<%- include('../partials/head') %>
<%- include('../partials/navbar') %>

<div class="container flex-grow-1">
    

    <h1>Add New Driver</h1>
    <form action="/drivers" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" placeholder="Enter driver name">
        <br>
        <label for="email">Email:</label>
        <input type="text" name="email" id="email" placeholder="Enter email address">
        <br>
        <label for="truckId">Truck #:</label>
        <input type="text" name="truckId" id="truckId" placeholder="Enter truck #">
        <br>
        <label for="company">Company:</label>
        <input type="text" name="company" id="company" placeholder="Enter company name">
        <br>
        <input type="submit" value="Add Driver">
    </form>
    <br>
    <a href="/drivers">Back to Index</a>
</div>

<%- include('../partials/footer') %>