<%- layout('layouts/boilerplate') %>

    <div class="container flex-grow-1">

        <div class="row d-flex justify-content-center my-5">

            <div class="col-4 text-center">
                <div class="alert alert-success" role="alert">
                    Trailer count submitted! <a href="/yards/<%= yard._id %>" class="alert-link">return to yard</a>.
                </div>
            </div>