<% layout('layouts/boilerplate') %>
<div class="container flex-grow-1">
    <div class="row d-flex justify-content-center">
        <div class="col-6">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading"><%= statusCode %>!</h4>
                <p><%= err %></p>
            </div>
        </div>
    </div>
</div>