<% layout('layouts/boilerplate') %>
    <div class="container flex-grow-1">
        <section class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-8 text-center">
                    <h2 class="display-4 mb-3">Welcome to Luna Link</h2>
                    <p class="lead">Your Guiding Light in Transportation Management.</p>
                    <p>At Luna Link, we streamline the complexities of logistics with intuitive, innovative
                        solutions. Our platform connects drivers, dispatchers, and managers, ensuring seamless
                        communication and efficient operations. Whether it's tracking trailers, managing fleets, or
                        navigating routes, Luna Link is your trusted partner in the transportation journey. Join us
                        as we revolutionize the way you move, guided by the clarity and precision of Luna Link. Your
                        journey, illuminated.</p>
                    <a href="/users/signup" class="btn btn-primary mt-4">Get Started Today</a>
                </div>
            </div>
        </section>
    </div>