<% layout('layouts/boilerplate') %>
    <div class="container flex-grow-1">
        <div class="container">
            <h1>Yards</h1>
            <a class="btn btn-primary mt-3 mb-5" href="/yards/new">Add New Yard</a>
            <div class="row d-flex justify-content-evenly align-items-start">
                <% for(let yard of yards) { %>
                    <div class="col-3 m-2">
                        <div class="card bg-dark text-light">
                            <h5 class="card-header">Last updadted:</h5>
                            <div class="card-body d-flex flex-column align-items-stretch">
                                <h5 class="card-title">
                                    <%= yard.name %>
                                </h5>
                                <p class="card-text">
                                    <%= yard.location %>
                                </p>
                                <p class="card-text"><b>Trailer Count: </b>
                                    <%= !yard.trailers ? '0' : yard.trailers.length; %>
                                </p>
                                <a href="/yards/<%= yard._id %>" title="Click to view yard details"
                                    class="btn btn-primary flex-grow-1">View Yard</a>
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
    </div>