<% layout('layouts/boilerplate') %>
    <div class="container flex-grow-1">
        <div class="container mb-3">
            <div class="d-flex justify-content-between align-items-center mb-4 mx-auto border-bottom border-primary border-opacity-25 pb-2">
                <h1 class="m-0">Yards</h1>
                <a class="btn btn-primary" href="/yards/new">Add New Yard</a>
            </div>
            <div class="row row-cols-1 row-cols-sm-auto d-flex justify-content-start mx-auto">
                <% for(let yard of yards) { %>
                    <div class="col my-2 flex-grow-1 flex-sm-grow-0">
                        <div class="card text-bg-dark border-0 border-bottom rounded-0">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= yard.name %>
                                </h5>
                                <p class="card-text">
                                    <%= yard.location %>
                                </p>
                                <p class="card-text"><b>Trailer Count: </b>
                                    <%= !yard.trailers ? '0' : yard.trailers.length; %>
                                </p>
                                <a href="/yards/<%= yard._id %>" title="Click to view yard details"
                                    class="btn btn-primary mb-1">View Yard</a>
                                <p class="fw-lighter font-monospace m-0">Last updated: 02/24/2024</p>
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
    </div>