<% layout('layouts/boilerplate') %>
<div class="container flex-grow-1">
    

    <h1>Add New Trailer</h1>
    <form action="/trailers" method="POST">
        <label for="trailerId">Trailer Number:</label>
        <input type="text" name="trailerId" id="trailerId" placeholder="Enter trailer number">
        <br>
        <label for="trailerType">Trailer Type:</label>
        <select name="trailerType" id="trailerType">
            <% for(let trailerType of trailerTypes){ %>
                <option value="<%= trailerType %>"><%= trailerType %></option>  
            <%}%>
        </select>
        <br>
        <label for="trailerStatus">Trailer Status:</label>
        <select name="trailerStatus" id="trailerStatus">
            <% for(let trailerStatus of trailerStatuses){ %>
                <option value="<%= trailerStatus %>"><%= trailerStatus %></option>  
            <%}%>
        </select>
        <br>
        <label for="trailerLocation">Trailer Location:</label>
        <input type="text" name="trailerLocation" id="trailerLocation" placeholder="Enter trailer location">
        <br>
        <input type="submit" value="Add Trailer">
    </form>
    <br>
    <a href="/trailers">Back to Index</a>
</div>