<% layout('layouts/boilerplate') %>
    <div class="container flex-grow-1">
        <h1 class="border-bottom border-primary border-opacity-75 pb-3 mb-3">Account</h1>
        <div class="row">
            <div class="col-12 col-md-10">
                <h2 class="text-light"><%= currentUser.companyName %></h2>
                <!-- card with info -->
            </div>
        </div>
    </div>