<%- layout('layouts/boilerplate') %>

    <div class="container flex-grow-1">
        <div class="row border-bottom border-primary border-opacity-50">
            <div class="col-6 d-flex">
                <h1>Sign Up</h1>
            </div>
            <div class="col-6 d-flex justify-content-end align-items-center">
                <a class="link-offset-2-hover link-offset-3" href="/users/login">Login</a>
            </div>
        </div>